// bower:scss
// endbower

// Custom imports & styles here.

* {
}
body {
	background-color: #fafafa;
}

.header {
	padding: 1em 0;
	h1 {
		font-style: italic;
		font-weight: bold;
		color: #900000;
	}
	a {
		color: black;
		float: left;
	}	
	h6 {
		color: red;
		float: left;
		padding: 0 .5em ;
	}


}

.main {
	padding: 2em 0;
	input {
		// width: 83%;
		width: auto;
		float: left;
	}
	button {
		float: left;
		margin: .15em;
	}
	.comments {
		p {
			margin: 1em;
			border-radius: 5px;
			padding: .25em .5em;
		}
	}
	.comments p:nth-child(even) {
    background: lavender;
	}
	.comments p:nth-child(odd) {
	    background: gainsboro;
	}
}

.footer {
	padding: 3em 0;
	background-color: gold;
	height: 15em;
	h4 {
	font-weight: bold;
	}
	h6 {
		margin: 0;
		font-weight: bold;
	}
	.title {
		font-style: italic;
		color: #900000;
	}
	.site {
		h6 {
			color: red;
		}
	}
}