// bower:scss
// endbower

// Custom imports & styles here.

* {
}
body {
	background-color: #fafafa;
}

.header {
	padding: 1em 0;
	h1 {
		font-style: italic;
		font-weight: bold;
		color: #900000;
	}
	a {
		color: black;
		float: left;
	}	
	h6 {
		color: red;
		float: left;
		padding: 0 .5em ;
	}


}

.tabs, .content {
	background: #eee;
}
.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a span.active {
    background: #eee;
}

.footer {
	padding: 3em 0;
	background-color: gold;
	height: 15em;
	h4 {
	font-weight: bold;
	}
	h6 {
		margin: 0;
		font-weight: bold;
	}
	.title {
		font-style: italic;
		color: #900000;
	}
	.site {
		h6 {
			color: red;
		}
	}
}