body {
  background-color: #ffffcc; }

.header {
  border-bottom: 1px solid black; }
  .header h5 {
    padding-top: 1.25em;
    font-style: italic; }

.main {
  padding: 2em 0; }
  .main input {
    width: 83%;
    float: left; }
  .main button {
    float: right; }
  .main .comments p {
    border-radius: 5px;
    padding: 0.25em 0.5em; }
  .main .comments p:nth-child(even) {
    background: lavender; }
  .main .comments p:nth-child(odd) {
    background: gainsboro; }

.footer {
  border-top: 1px solid black;
  padding-top: 0.5em; }
