.header {
  padding: 1em 0 0 0; }
  .header h1 {
    font-style: italic;
    font-weight: bold;
    color: #900000; }
  .header a {
    color: black;
    float: left; }
  .header h6 {
    color: red;
    float: left;
    padding: 0 0.5em; }

main {
  background: #fff;
  border-radius: 0 5px 5px 5px;
  padding: 20px 20px 40px 20px; }

.tabs a span {
  border-radius: 5px 5px 0 0;
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: center;
  background: #ddd;
  padding: 5px; }

.tabs a .active {
  background: #eee; }

main .content {
  padding: 30px 30px 10px 10px;
  border-radius: 0 5px 5px 5px;
  background: #eee;
  min-height: 150px; }

main .content li {
  border-radius: 5px;
  padding: 3px 3px 3px 10px;
  background: #eff;
  margin: 0 0 10px 0; }

main .content input {
  width: 15em;
  float: left; }

main .content button {
  float: left; }

main .content p {
  background: yellow; }

main .content input {
  font-size: 1.5em; }

li {
  list-style: none; }

.footer {
  padding: 2em;
  background-color: gold;
  height: 12em; }
  .footer h4 {
    font-weight: bold; }
  .footer h6 {
    margin: 0;
    font-weight: bold; }
  .footer .title {
    font-style: italic;
    color: #900000; }
  .footer .site h6 {
    color: red; }
